body{
  background-image: url("../images/story1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(23, 213, 226);
}

#story{
  display: none;
  font-size: 18px;
}

span{
  color:white;
}